#app {
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding: 30px;
  box-sizing: border-box;
  overflow: auto;
  text-align: center;
}
#app::-webkit-scrollbar {
  display: none;
}
#app input {
  margin-bottom: 50px;
}
#app .product-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
#app .product-list .product {
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
}
#app .product-list .product img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-bottom: 1px solid gray;
}
#app .loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 1000;
  position: fixed;
  left: 0;
}
#app .loading img {
  max-width: 150px;
}

/*# sourceMappingURL=main.css.map */
