#app {
	width: 100%;
	height: 100vh;
	overflow: auto;
	padding: 30px;
	box-sizing: border-box;
	overflow: auto;
	text-align: center;

	&::-webkit-scrollbar {
		display: none;
	}

	input {
		margin-bottom: 50px;
	}

	.product-list {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 30px;

		.product {
			width: 100%;
			border: 1px solid gray;
			border-radius: 5px;

			img {
				width: 100%;
				height: 300px;
				object-fit: cover;
				border-bottom: 1px solid gray;
			}
		}
	}

	.loading {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0;
		z-index: 1000;
		position: fixed;
		left: 0;
		img {
			max-width: 150px;
		}
	}
}
